<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="~{header :: header}"></div>

<section layout:fragment="content">

    <h2>Login</h2>

    <span th:text="${message}"/>
    <span th:text="${error}"/>

    <form method="POST" th:action="@{/login}">
        <div class="form-group">
            <label for="username">User name</label>
            <input name="username" type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</section>
</div>
</body>
</html>